.post-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px auto;
    /* Adding auto to center the div */
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    max-width: 800px;
    /* This is to prevent the div from being full width */
}


.post-thumbnail {
    flex: 0 0 150px;
    /* Adjust this to change thumbnail size */
    margin-right: 20px;
}

.post-thumbnail img {
    width: 100%;
    height: auto;
}

.post-content {
    flex: 1;
}

.post-title {
    font-size: 1.5em;
    margin-bottom: 0em;
}

.post-description {
    margin: 0;
}

.post-gallery {
    margin: 0 30%;
}

.post-date {
    color: gray;
}

.extra-space {
    margin-bottom: 50px;
}

.summary {
    margin-bottom: 20px;
}

.summary.with-thumbnail {
    display: flex;
    align-items: flex-start;
}

.summary-thumbnail {
    width: 150px;
    height: auto;
    margin-right: 1em;
}

.summary-text {
    flex: 1;
    display: inline;
}

@media (max-width: 768px) {
    .post-gallery {
        margin: 10px 25px;
    }

    .post-thumbnail {
        flex: 0 0 0px;
        /* Remove pic on small screens */
        margin-right: 20px;
    }
    .summary-thumbnail {
        width: 0px;
    }
}