.project-item {
    display: flex;
    align-items: start;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.project-thumbnail {
    flex: 0 0 150px;  /* Adjust this to change thumbnail size */
    margin-right: 20px;
}

.project-thumbnail img {
    width: 100%;
    height: auto;
}

.project-content {
    flex: 1;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.project-description {
    margin: 0;
}

.project-gallery {
    margin: 0 30%;
}

@media (max-width: 768px) {
    .project-gallery {
        margin: 10px 25px;
    }
    .project-thumbnail {
        flex: 0 0 0px;  /* Remove pic on small screens */
        margin-right: 20px;
    }
}

.tldr {
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 2em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.tldr h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.tldr p {
    margin-bottom: 0;
    color: #666;
}
