{{ define "main" }}
<link rel="stylesheet" href="{{ "/personal-site/css/resume.css" | absURL }}">

{{ partial "header" . }}

<div class="resume-container">
    <div class="jobs">
        {{ range .Params.positions }}
        <div class="job">
            <p class="years">{{ .years }}</p>
            <h5 class="position">{{ .position }}</h5>
            <p class="company"><a href="{{ .company_link }}">{{ .company }}</a></p>
        </div>
        {{ end }}
    </div>
    <div class="blurb">
        <h5>experience</h5>
        <p>{{ .Params.blurb }}</p>    
        {{ with .Site.Params.Social.LinkedIn }}
            <a class="resume-icon" href="https://linkedin.com/in/{{ . }}"><i class="fa fa-linkedin"></i></a>   
        {{ end }}
        <a class="resume-icon" href="{{ .Params.resume }}"><i class="fa fa-download"></i></a>
    </div>
</div>
{{ end }}
