{{ define "main" }}
<link rel="stylesheet" href="{{ "css/resume.css" | absURL }}">

{{ partial "header" . }}

<div class="resume-container">
    <div class="jobs">
        {{ range .Params.positions }}
        <div class="job">
            <p class="years">{{ .years }}</p>
            <h5 class="position">{{ .position }}</h5>
            <p class="company"><a href="{{ .company_link }}">{{ .company }}</a></p>
            <!-- add a button or link to toggle the job details -->
            <a href="#" class="detail-button toggle-details company">see more <i class="arrow right"></i> </a>
            <!-- wrap the job details in a div with a 'details' class -->
            <div class="details">
                <p>{{ .details | lower | markdownify }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="blurb">
        <h5>experience</h5>
        <p>{{ .Params.blurb }}</p>    
        {{ with .Site.Params.Social.LinkedIn }}
            <a class="resume-icon" href="https://linkedin.com/in/{{ . }}"><i class="fa fa-linkedin"></i></a>   
        {{ end }}
        <a class="resume-icon" href="{{ .Params.resume }}"><i class="fa fa-download"></i></a>
    </div>
</div>

<!-- add some JavaScript at the bottom of your template to handle the click event -->
<script>
    document.querySelectorAll('.toggle-details').forEach(button => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            const details = button.nextElementSibling;
            const arrow = button.querySelector('.arrow');
            if (details.style.display === 'block') {
                details.style.display = 'none';
                arrow.classList.remove('down');
                arrow.classList.add('right');
            } else {
                details.style.display = 'block';
                arrow.classList.remove('right');
                arrow.classList.add('down');
            }
        });
    });
</script>

{{ end }}
